@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spotify';
  src: url('./assets/fonts/SoDoSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'SpotifyLight';
  src: url('./assets/fonts/SoDoSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SoDoSans';
  src: url('./assets/fonts/SoDoSans-Black.ttf') format('truetype');
}